# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
.env

# Data / artifacts
data/
datasets/
outputs/
artifacts/
models/
mlruns/
*.parquet
*.csv
*.zip

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
